* {
  box-sizing: border-box;
}

body {
  padding-top: 103px;
  background-color: $light-grey;
}

.top-block {
  display: flex;
  @include  breakpoint(tablet) {
    flex-direction: column;
  }
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 15px;

  @include breakpoint(desktop) {
    max-width: 1000px;
  }

  @include breakpoint(laptop) {
    max-width: 766px;
  }

  @include breakpoint(tablet) {
    max-width: 590px;
  }

  @include breakpoint(phablet) {
    max-width: 470px;
  }

  @include breakpoint(largePhone) {
    max-width: 310px;
  }
}
