/* Apply box-sizing and default text color to all elements */
* {
  box-sizing: border-box;
  color: $dark-grey;
}

/* Set body styles */
body {
  padding-top: 103px;
  background-color: $light-grey;
}

/* Flex container for top block content */
.top-block {
  display: flex;
  @include  breakpoint(tablet) {
    flex-direction: column;
  }
}

/* Container class for responsive layout */
.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 15px;

  /* Responsive breakpoints */
  @include breakpoint(desktop) {
    max-width: 1000px;
  }

  @include breakpoint(laptop) {
    max-width: 766px;
  }

  @include breakpoint(tablet) {
    max-width: 590px;
  }

  @include breakpoint(phablet) {
    max-width: 470px;
  }

  @include breakpoint(largePhone) {
    max-width: 310px;
  }
}

/* Styling for Slick carousel dots */
.slick-dots {
  button {
    max-height: 15px;
    max-width: 15px;
    border-radius: 100%;
    background-color: $grey !important;
    text-indent: -9999px;
    &:hover {
      background-color: $dark-white !important;
    }
  }
  li {
    margin: 0 10px !important;
  }
  li.slick-active button {
    background-color: $light-black !important;
  }
}