* {
  box-sizing: border-box;
  color: $dark-grey;
}

body {
  padding-top: 103px;
  background-color: $light-grey;
}

.top-block {
  display: flex;
  @include  breakpoint(tablet) {
    flex-direction: column;
  }
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 15px;

  @include breakpoint(desktop) {
    max-width: 1000px;
  }

  @include breakpoint(tablet) {
    max-width: 590px;
  }

  @include breakpoint(phablet) {
    max-width: 470px;
  }

  @include breakpoint(largePhone) {
    max-width: 310px;
  }
}

.slick-dots {
  button {
    max-height: 15px;
    max-width: 15px;
    border-radius: 100%;
    background-color: $grey !important;
    text-indent: -9999px;
    &:hover {
      background-color: $dark-white !important;
    }
  }
  li {
    margin: 0 10px !important;
  }
  li.slick-active button {
    background-color: $light-black !important;
  }
}

.slick-track {
  max-width: 1190px;
  @include breakpoint(desktop) {
    max-width: 970px;
  }
}
