.header {
  position: fixed;
  z-index: 100;
  background-color: $white;
  top: 0;
  box-shadow: 0 0 10px 5px $grey;
  width: 100%;
  padding: 10px 0;
  >.container {
    display: flex;
  }
  &__logo-burger {
    display: flex;
  }
  &__logo {
    img {
      max-width: 80px;
      height: auto;
    }
  }

  &__burger {
    display: none;
    cursor: pointer;
  }

  &__links-button {
    display: flex;
    margin: auto 0 auto auto;
    width: 710px;
    justify-content: space-between;
  }

  &__links {
    align-content: center;
    ol {
      display: flex;
      width: 550px;
      justify-content: space-between;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }

  &__button {
    button {
      border:none;
      background-color: $blue;
      color: $white;
      padding: 15px;
      border-radius: 40px;
    }
  }

  @include breakpoint(desktop) {
    &__links-button {
      max-width: 680px;
    }
    &__links {
      ol {
        max-width: 500px;
      }
    }
  }

  @include breakpoint(laptop) {
    &__links-button {
      max-width: 640px;
    }
    &__links {
      ol {
        max-width: 480px;
      }
    }
  }

  @include breakpoint(tablet) {
    >.container {
      display: block;
    }
    &__logo-burger {
      width: 100%;
    }
    &__burger {
      display: block;
      margin: auto 0 auto auto;
      background-color: $blue;
      padding: 5px;
      border-radius: 5px;
      max-height: 38px;
      max-width: 48px;
      &-line {
        transition: transform 0.75s ease, opacity 0.75 ease;
        display: block;
        width: 38px;
        height: 2px;
        background-color: $white;
        margin: 6px 0;
      }
      &.open {
          .header__burger-line1 {
            transform: translate(-12px) rotate(33.5deg) translate(15px);
          }
        .header__burger-line2 {
            opacity: 0;
          }
        .header__burger-line3 {
            transform: translate(-12px) rotate(-33.5deg) translate(15px);
          }
        }
      }
    &__links-button {
      max-width: 550px;
      display: none;
      &.show {
        display: flex;
        flex-direction: column;
        text-align: center;
        ol {
          flex-direction: column;
          text-align: center;
          max-width: 560px;
          li {
            margin-top: 16px;
            margin-bottom: 10px;
          }
        }
        button {
          margin: 10px auto;
        }
      }
    }
  }
  @include breakpoint(phablet) {
    &__links-button {
      max-width: 440px;
    }
    &__links {
      ol {
        width: 440px;
      }
    }
  }

  @include breakpoint(largePhone) {
    &__links-button {
      max-width: 280px;
    }
    &__links {
      max-width: 280px;
    }
    &__button {
      max-width: 280px;
    }
    &__links {
      ol {
        width: 280px;
      }
    }
  }
}
