.header {
  box-shadow: 0 0 10px 5px $grey;
  padding: 10px 0;
  >.container {
    display: flex;
  }
  &__logo {
    img {
      max-width: 80px;
      height: auto;
    }
  }

  &__links-button {
    display: flex;
    margin: auto 0 auto auto;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
  }

  &__links {
    align-content: center;
    ol {
      display: flex;
      width: 550px;
      justify-content: space-between;
    }
    a {
      color: $dark-grey;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }

  &__button {
    button {
      border:none;
      background-color: $blue;
      color: $white;
      padding: 15px;
      border-radius: 40px;
    }
  }

  @include breakpoint(desktop) {
    &__links-button {
      max-width: 680px;
    }
    &__links {
      ol {
        max-width: 500px;
      }
    }
  }
}