.mentors {
  background-color: $white;
  padding: 60px 0;
  h2 {
    text-align: center;
    font-weight: 500;
  }
  &__block {
    display: flex !important;
    h3 {
      color: $light-blue;
      margin-top: 30px;
      margin-bottom: 34px;
    }

    margin-bottom: 12px;
  }
  &__image {
    margin-right: 100px;
  }
  &__text {
    line-height: 24px;
    font-weight: 300;
    max-width: 680px;
  }
}