.testimonials {
  background-color: $white;
  text-align: center;
  padding-top: 70px;
  height: 450px;
  >.container {
    max-width: 700px;
  }
  h2 {
    margin: 0;
    font-weight: 500;
  }

  &__content {
    margin: 0 -250px;
    padding-bottom: 80px;
  }
  &__block {
    max-width: 700px;
    margin: 0 250px;
    padding: 14px 0;
  }
  &__message {
    p {
      color: $dark-white;
      font-size: 16px;
      line-height: 26px;
    }
    &::before{
      content: '“';
      font-size: 4em;
      color: $grey;
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      top: 0;
      left: -30px;
    }
    &::after {
      content: '”';
      font-size: 4em;
      color: $grey;
      position: absolute;
      font-family: "Oswald", sans-serif;
      font-weight: bold;
      bottom: 50px;
      right: -20px;
    }
  }
  h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
  }
  &__role {
    margin-top: 5px;
    font-style: italic;
  }

  @include breakpoint(desktop) {
    height: 420px;
    &__content {
      padding-bottom: 50px;
    }
  }

  @include breakpoint(tablet) {
    height: 480px;
    >.container {
      max-width: 560px;
    }
    &__content {
      margin: 0 -200px;
    }
    &__block {
      margin: 0 200px;
      max-width: 560px;
    }
  }

  @include breakpoint(phablet) {
    height: 560px;
    >.container {
      max-width: 430px;
    }
    &__content {
      margin: 0 -190px;
    }
    &__block {
      margin: 0 200px;
      max-width: 430px;
    }
  }

  @include breakpoint(largePhone) {
    height: 630px;
    >.container {
      max-width: 280px;
    }
    &__block {
      max-width: 280px;
    }

    &__message {
      p {
        font-size: 14px;
      }
    }
  }
}