/* Color variables */
$black: #000;
$dark-grey: #333333;
$light-black: #555;
$dark-white: #777;
$grey: #C9C9C9;
$light-grey: #f7f7f7;
$middle-grey: #eee;
$white: #fff;
$blue: #337ab7;
$light-blue: #3498db;
$red: #ee0000;